@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
h1{
    margin: 10px 20px;
}

.table{
    margin-left: 20px;
    width: 95%;    
}
#excluirEmail,#atualizarEmail {
    display: none;
}

form {
    top: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

form .form-group .form-control{
    Width: 50%;
}
form .form-group #dtNascimento{
    Width: 15%;
}
form .form-group #phone{
    Width: 15%;
}

form .form-group #myfile{
    Width: 30%;
}
